<div class="card" style="width: 18rem;">
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><input [(ngModel)]="objarticulo.Nombre" type="text" class="form-control"></li>
    <li class="list-group-item"><input [(ngModel)]="objarticulo.Precio" type="number" class="form-control"></li>
    
    <button (click)="save()" class="btn btn-success">GUARDAR</button>
    <button (click)="delete()" class="btn btn-danger" *ngIf="objarticulo.Codigo != 0">ELIMINAR</button>
    
  </ul>
</div>

<div class="card" style="width: 18rem;">
  <ul class="list-group list-group-flush">
    <li class="list-group-item" *ngFor="let articulo of arregloarticulos" 
    (click)="editar(articulo)"  [class.active]= "articulo == objarticulo">
      {{articulo.Codigo}},
      {{articulo.Nombre}},
      {{articulo.Precio}} 
    </li>
    
  </ul>
</div>

